{% extends "base.html" %}
{% block content %}

    <h2 id="purchase-heading">Thank you for PURCHASING your property with Castle Apartments!</h2>
    <p if="purchase-paragraph">Please fill out the form below</p>
    <div class="payment-info">
        <form class="form form-horizontal purchase-property-form" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Card information</legend>
                {{ card_info_form.as_p }}
                {{ purchase_form.as_p }}
                <legend>Billing Address</legend>
                {{ address_form.as_p }}
            </fieldset>
            <input id="purchase-cancel" class="btn btn-primary pull-right" type="button" value="Cancel" style="display: none">
            <input id="purchase-continue" class="btn btn-primary pull-right" type="button" value="Continue" style="display: none">
            <input id="purchase-edit" class="btn btn-primary pull-right" type="button" value="Edit">
            <input id="purchase-confirm" class="btn btn-primary pull-right" type="submit" value="Confirm">
        </form>
    </div>
    <div class="property-info">
        {% include 'realEstate/single_property.html' with property=property %}
    </div>
{% endblock %}