{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="/static/css/purchase.css">

    <h2 id="purchase-heading">Thank you for purchasing your property with Castle Apartments!</h2>
    <h3 id="purchase-paragraph">Is this information correct?</h3>
    <div class="payment-info">
        <form class="form form-horizontal purchase-property-form" method="post">
            {% csrf_token %}
                <div id="wrapper">

                        <div id="purchase-info-container">
                            <fieldset>
                                <div class="card left-box box">
                                    <legend>Billing Information</legend>
                                    {{ purchase_form.as_p }}
                                    {% include 'miscellaneous/country-list.html' %}
                                    {{ address_form.as_p }}
                                </div>
                                <div class="card left-box box">
                                   <legend>Card information</legend>
                                    {{ card_info_form.as_p }}
                                </div>
                            </fieldset>
                        </div>

                    <div class="card box property-info" id="purchase-property-info-container">
                        <h3> {{ property.name }}</h3>
                        <p> {{ property.price }} </p>
                    </div>
                </div>

            <input id="purchase-cancel" class="btn btn-primary pull-right" type="button" value="Cancel" style="display: none">
            <input id="purchase-continue" class="btn btn-primary pull-right" type="button" value="Continue" style="display: none">
            <input id="purchase-edit" class="btn btn-primary pull-right" type="button" value="Edit">
            <input id="purchase-confirm" class="btn btn-primary pull-right" type="submit" value="Confirm">
        </form>
    </div>

{% endblock %}