{% extends "base.html" %}
{% block content %}

    <h3>Thank you for purchasing your property with Castle Apartments!</h3>


    <div id="purchase-property-info-container">
        <h3>Your Reciept</h3>
        <div class="box card property-info" id="property-info-card">
            <p> {{ purchase.date }}</p>
            <p> {{ purchase.ssn }}</p>
            <p> {{ purchase.paymentInfo.address }}
            <a href="{% url 'property-details' property.id %}" class="link-to-property">
                <h4> {{ property.name }}</h4>
            </a>
            <p>Size: {{ property.squareMeters }} <br>
                Type: {{ property.type }} <br>
                Built in {{ property.constructionYear }} <br>
                {{ property.nrBedrooms }} bedrooms <br>
                {{ property.nrBathrooms }} bathrooms <br>
            </p>
            <p class="card-subtitle mb-2">Price: {{ property.price }} $</p>

            <h5 id="price"> Total: {{ property.price }} $</h5>
        </div>
    </div>

{% endblock %}