#edit-profile-card {
    padding: 20px;
}

#edit-profile-container {
    margin: auto;
    width: 28rem;
}

.input {
    width: 100%;
}

#update-profile-button {
    margin-top: 10px;
}

.heading {
    text-align: center;
}

@media screen and (max-width: 464px) {
    #edit-profile-container{
        width: 100%;
    }
}