/* Filter CSS */
#filters {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 15px;
}
/* Center headers and attributes*/
h3, #attributes {
    text-align: center;
}

.column {
    margin: 10px auto;
}

#first-column {
    width: 22%;
}

#second-column {
    width: 38%;
}

#third-column {
    width: 25%;
}

#search-box {
    width: 90%;
    margin: 5px auto;
    text-align: center;
}

#attributes {
    width: 90%;
    margin: 5px auto;
}

/* When the screen is less than 992px wide, columns stack on top of each other */
@media screen and (max-width: 992px) {
    .column {
        margin: 10px auto;
    }
    #first-column, #second-column, #third-column {
        width: 85%;
    }
}

/* Center filter button*/
#filter_props {
    display: block;
    margin: 15px auto 5px;
}

.select-style {
    padding: 3px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.checkbox-style {
    margin-left: 8px;
    margin-right: 3px;
}