/* Filter CSS */
#filters {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 15px;
    justify-content: space-between;
    display: flex;
}
/* Center headers and attributes*/
h3, #attributes {
    text-align: center;
}

.column {
    margin: 10px auto;
}

#first-column {
    display: inline-block;
    width: 25%;
}

#second-column {
    display: inline-block;
    width: 35%;
}

#third-column {
    display: inline-block;
    width: 25%;
}

#search-box {
    width: 45%;
    margin: 5px auto;
    text-align: center;
}

#attributes {
    width: 90%;
    margin: 5px auto;
}

/* When the screen is less than 992px wide, columns stack on top of each other */
@media screen and (max-width: 992px) {
    .column {
        margin: 10px auto;
    }
    #first-column, #second-column, #third-column {
        width: 85%;
        text-align: center;
    }
}

/* Center filter buttons*/
#search-button-container {
    text-align: center;
    display: block;
    margin: auto;
}

#clear_button, #filter_props {
    margin: 10px;
}

.select-style {
    padding: 3px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.checkbox-style {
    margin-left: 8px;
    margin-right: 3px;
}