#sign-in-container {
    width: 20rem;
    margin: auto;
}

#login-button {
    display: block;
    margin: auto;
}

@media screen and (max-width: 375px) {
    #sign-in-container{
        width: 100%;
    }
}