* {
    font-family: 'Roboto', sans-serif;
}

#navbar {
    position: fixed;
    overflow: hidden;
    z-index: 1000; /* Set navbar as top layer */
    width: 100%;
    /*background-color: rgba(52, 58, 64, 0.9) !important; */
    z-index: 1000; /* Set body of page under the navigation bar */
    font-size: 1.1rem;
    z-index: 100; /* Set body of page under the navigation bar */

}

.nav-item :hover, .nav-item :active {
    color: rgb(142, 200, 199) !important;
}

#logo {
    max-width: 120px;
}

#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 6.5rem; /* Footer height. */
}

#body-container {
    padding-top: 70px;
}

#footer {
    position: absolute;
    padding: 5px;
    height: 6.5rem; /* Footer height. */
    width: 100%;
    bottom: 0; /* Place footer on bottom of site. */
    background-color: rgb(52, 58, 64);
    color: white;
    text-align: right;
    font-size: 0.8rem;
}

#footer a {
    color: white;
}

/* Filter CSS */
#filters {
    border: 2px solid black;
    padding: 2%;
    text-align: center;
}
/* Change primary color of all buttons */
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(125,195,200) !important;
    border-color: rgb(125,195,200) !important;
}
/* Change primary hover of all buttons */
.btn-primary:hover {
    background-color: rgb(111, 172, 177) !important;
    border-color: rgb(111, 172, 177) !important;
}

#loading {
    display:none;
    text-align:center;
}