/* body {
    background-image: url("../images/background.jpg");
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
} */

#navbar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    /*background-color: rgba(52, 58, 64, 0.9) !important; */
    z-index: 1000; /* Set body of page under the navigation bar */
    font-size: 1.1rem;
}

.nav-item :hover, .nav-item :active {
    color: rgb(142, 200, 199) !important;
}

#logo {
    max-width: 120px;
}

#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 6.5rem; /* Footer height. */
}

#body-container {
    padding-top: 70px;
    /*z-index: -1; !* Set body of page under the navigation bar *!*/
    /*position:fixed;*/
}

#footer {
    position: absolute;
    padding: 5px;
    height: 6.5rem; /* Footer height. */
    width: 100%;
    bottom: 0; /* Place footer on bottom of site. */
    background-color: rgb(52, 58, 64);
    color: white;
    text-align: right;
    font-size: 0.8rem;
}

#footer a {
    color: white;
}

/* Filter CSS */
#filters {
    border: 2px solid black;
    padding: 2%;
    text-align: center;
}



