.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.profile-image {
    max-width: 100%;
    max-height: 100%;
}

#profile-img-square-wrapper {
    max-width: 30%;
}

.property {
    max-width: 400rem;
}

.property-image {
    max-width: 100%;
    max-height: 100%;
}

/* So active/sold listing/recently viewed header and add property button is in line with rest of page */
#active-listings-header, #sold-listings-header, #add-property-button, #recently-viewed-header  {
    padding-left: 20px;
    padding-top: 20px;
}

#delete-active-property-button, #delete-sold-property-button {
    background: #dd6363 !important;
    border: #dd6363 !important;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(125,195,200);
}

.card {
    margin: 5px;
}