.card-horizontal {
    display: flex;
}

.profile-image {
    width: 100%;
    border-radius: 3px 0 0 3px;
}

#profile-img-square-wrapper {
    width: 40%;
}

#edit-profile-button, #view-profile-button {
    margin: 2.5px;
}

/* So active/sold listing/recently viewed header and add property button is in line with rest of page */
#active-listings-header, #sold-listings-header, #add-property-button, #recently-viewed-header  {
    padding-left: 20px;
    padding-top: 20px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(125,195,200);
}

.card {
    margin: 5px;
}

.property-image {
    width: 8rem;
    height: 8rem;
}

#left-column {
    width: 60%;
}

#right-column {
    width:40%;
}

@media screen and (max-width: 992px) {

    #left-column {
        width: 100%;
    }

    #right-column {
        width:100%
    }
}

#update-profile-button {
    margin: 20px;
}

/* For favorites and Recently viewed*/
.small-card-property {
    height: auto;
}

.small-card-img-wrapper {
    height: auto;
}

#recently-viewed-list {
    overflow-y: scroll;
    height: 17rem;
}

.small-property-image {
    width: 8rem;
    height: 8rem;
}

.small-property-image {
    border-radius: 3px 0 0 0;
}

#see-receipt-button, #edit-property-button {
    margin-top: 10px;
}