a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(125,195,200);
}

.link-to-property {
    width: 30%;
    margin: 10px auto;
}

.property-img {
    width: 100%;
    height: 20rem;
}