
/* To display two columns */
.box {
    width: 95%;
    padding: 20px;
}

#purchase-info-container {
    width: 60%;
}

#purchase-property-info-container {
    width: 40%;
    float: right;
}

#purchase-info-container, #purchase-property-info-container {
    display: inline-block;
}

#property-info-card {
    height: 30rem;
}

/* So the cards are not squished together */
#billing-card {
    margin-bottom: 15px;
}
#kredidcard-card {
    margin-bottom: 15px;
}

/* Fixing <select> tag look */
#country-list {
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Buttons position*/
#purchase-cancel, #purchase-edit {
    float: left;
}

#purchase-continue, #purchase-confirm {
    float: right;
}

@media only screen and (max-width: 768px) {
    #purchase-info-container{
        width: 100%;
    }
    #purchase-property-info-container {
        width: 100%;
        float: none;
    }
}

.link-to-property {
    color: rgb(111, 172, 177);
}