{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS goes here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <title>Castle Apartments</title>

</head>
<body>
    <div id="page-container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
            <a class="navbar-brand" href="{% url 'home' %}"><img id="logo" src="/static/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ propertiesNav }}">
                        <a class="nav-link {% if 'property' in request.path or 'purchase' in request.path or 'seller' in request.path %} active {% endif %}" href="{% url 'property-index' %}">Properties<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {{ about_us }}">
                        <a class="nav-link {% if 'about' in request.path %} active {% endif %}" href="{% url 'about-us' %}">About Us</a>
                    </li>
                </ul>

                <div class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item {{ profile }}">
                                <a class="nav-link {% if 'profile' in request.path %} active {% endif %}" href="{% url 'user-profile' %}">Profile<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="nav-item {{ sign_in }}">
                                <a class="nav-link {% if 'login' in request.path %} active {% endif %}" href="{% url 'login' %}" >Sign In<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item {{ register }}">
                                <a class="nav-link {% if 'register' in request.path %} active {% endif %}" href="{% url 'register' %}">Register<span class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div id="body-container">
            <div class="container">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        <footer id="footer">
            <div class="container">
                <b>CASTLE APARTMENTS</b> <br>
                Marienplatz 1 <br>
                Munich, Germany <br>
                Tel: +49 89 268141 <br>
                <a href="mailto:contact@castleapartments.com">contact@castleapartments.com</a>
            </div>
        </footer>

    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/realEstate.js' %}"></script>
</body>
</html>

