{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/addProperty.css">

    <div class="heading">
        <h2>Add Property</h2>
        <p>Please fill out the form below</p>
    </div>
    <div class="card">
        <div class="card-body">
            <form class="form form-horizontal add-property-form" action="{% url 'add-property' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Property</legend>
                {{ property_form.as_p }}

                <legend>Address</legend>
                {% include 'miscellaneous/country-list.html' %}
                {{ address_form.as_p }}

                <legend>Images</legend>
                {{ image_form.as_p }}
            </fieldset>
            <input class="btn btn-primary pull-right" type="submit" value="Add Property">
            </form>
    </div>
    </div>

{% endblock %}