{% extends "base.html" %}
{% block content %}

    <h2>Thank you for EDITING your property with Castle Apartments!</h2>
    <p>Please fill out the form below</p>

    <form class="form form-horizontal edit-property-form" action="{% url 'edit_property' pk %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Property</legend>
            {{ property_form.as_p }}

            <legend>Address</legend>
            {{ address_form.as_p }}

            <div class="edit-property-images">
                <legend>Image</legend>
                {{ image_form.as_p }}
            </div>
            <p id="image-counter" hidden>1</p>
            <input type = "button" value="Add more images" class="btn btn-primary pull-right" id="add_image_field">
        </fieldset>
        <input class="btn btn-primary pull-right" type="submit" value="Update Property">
    </form>

{% endblock %}