{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/editProperty.css">

    <div class="heading">
        <h2>Edit Property</h2>
        <p>Please edit the information in the appropriate lines below</p>
    </div>

    <div class="card">
        <div class="card-body">
            <form class="form form-horizontal edit-property-form" action="{% url 'edit-property' pk %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Property</legend>
                    {{ property_form.as_p }}

                    <legend>Address</legend>
                    {% include 'miscellaneous/country-list.html' %}
                    {{ address_form.as_p }}

                    <legend>Image</legend>
                    {{ image_form.as_p }}
                </fieldset>
                <input class="btn btn-primary pull-right" type="submit" value="Update Property">
            </form>
        </div>
    </div>

{% endblock %}