<link rel="stylesheet" type="text/css" href="/static/css/filters.css">

<div id="filters">
    <form method="get" id="filter-form">
        <fieldset>
            <div class="row">
                <div class="column" id="first-column">
                    <label>
                        Country:
                        <select id="country_dropd" name="country" class="select-style">
                            <option value="" selected>All</option>
                            {% for countries in country_list %}
                                <option value="{{ countries.address.country }}">{{ countries.address.country }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <span id="dropd-msg"></span>
                    </label>
                    <br>

                    <label>
                        Municipality:
                        <select id="municipality_dropd" name="municipality" class="select-style">
                            <option value="" selected>All</option>
                        </select>
                        <br>
                        <span id="dropd-msg"></span>
                    </label>
                    <br>

                    <label>
                        City:
                        <select id="city_dropd" name="city" class="select-style">
                            <option value="" selected>All</option><br>
                        </select>
                        <br>
                        <span id="dropd-msg"></span>
                    </label>
                    <br>

                    <label>
                        Post Code:
                        <select id="postcode_dropd" name="postcode" class="select-style">
                            <option value="" selected>All</option>
                        </select>
                    </label>
                </div>

                <div class="column" id="second-column">
                    <label>
                        Price from:
                        <select id="price_from_dropd" name="price_from" class="select-style">
                            <option value="0" selected>0</option>
                            <option value="10000">10000</option>
                            <option value="20000">20000</option>
                            <option value="30000">40000</option>
                            <option value="40000">60000</option>
                            <option value="50000">80000</option>
                            <option value="60000">100000</option>
                            <option value="70000">120000</option>
                            <option value="80000">140000</option>
                            <option value="90000">160000</option>
                            <option value="100000">180000</option>
                            <option value="100000">200000</option>
                            <option value="100000">240000</option>
                            <option value="100000">280000</option>
                            <option value="100000">320000</option>
                            <option value="100000">360000</option>
                            <option value="100000">400000</option>
                            <option value="100000">450000</option>
                            <option value="100000">500000</option>
                            <option value="100000">550000</option>
                            <option value="100000">600000</option>
                            <option value="100000">650000</option>
                            <option value="100000">700000</option>
                            <option value="100000">800000</option>
                        </select>
                    </label>
                    <label>
                        to:
                        <select id="price_to_dropd" name="price_to" class="select-style">
                            <option value="10000">10000</option>
                            <option value="20000">20000</option>
                            <option value="40000">40000</option>
                            <option value="60000">60000</option>
                            <option value="80000">80000</option>
                            <option value="100000">100000</option>
                            <option value="120000">120000</option>
                            <option value="140000">140000</option>
                            <option value="160000">160000</option>
                            <option value="180000">180000</option>
                            <option value="200000">200000</option>
                            <option value="240000">240000</option>
                            <option value="280000">280000</option>
                            <option value="320000">320000</option>
                            <option value="360000">360000</option>
                            <option value="400000">400000</option>
                            <option value="450000">450000</option>
                            <option value="500000">500000</option>
                            <option value="550000">550000</option>
                            <option value="600000">600000</option>
                            <option value="650000">650000</option>
                            <option value="700000">700000</option>
                            <option value="800000">800000</option>
                            <option value="900000">900000</option>
                            <option value="1000000">1000000</option>
                            <option value="1200000">1200000</option>
                            <option value="1500000">1500000</option>
                            <option value="999999999999" selected>∞</option>
                        </select>
                    </label>
                    ($)<br>

                    <label>
                        Size from:
                        <select id="size_from_dropd" name="size_from" class="select-style">
                            <option value="0" selected>0</option>
                            <option value="60">60</option>
                            <option value="70">70</option>
                            <option value="80">80</option>
                            <option value="90">90</option>
                            <option value="100">100</option>
                            <option value="115">115</option>
                            <option value="130">130</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                        </select>
                    </label>
                    <label>
                         to:
                        <select id="size_to_dropd" name="size_to" class="select-style">
                            <option value="60">60</option>
                            <option value="70">70</option>
                            <option value="80">80</option>
                            <option value="90">90</option>
                            <option value="100">100</option>
                            <option value="115">115</option>
                            <option value="130">130</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="999999999999" selected>∞</option>
                        </select>
                    </label>
                    (m<sup>2</sup>)
                    <br>

                    <label>
                        Bedrooms from:
                        <select id="bedrooms_from_dropd" name="bedrooms_from" class="select-style">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </label>
                    <label>
                         to:
                        <select id="bedrooms_to_dropd" name="bedrooms_to" class="select-style">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="999999999999" selected>∞</option>
                        </select>
                    </label>
                    <br>

                    <label>
                        Bathrooms from:
                        <select id="bathrooms_from_dropd" name="bathrooms_from" class="select-style">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </label>
                    <label>
                         to:
                        <select id="bathrooms_to_dropd" name="bathrooms_to" class="select-style">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="999999999999" selected>∞</option>
                        </select>
                    </label>
                </div>

                <div class="column" id="third-column">
                    Construction year<br>
                    <label>
                        from:
                        <select id="year_built_from_dropd" name="year_built_from" class="select-style">
                                <option value="0">0</option>
                            {% for construction_years in year_built_list %}
                                <option value="{{ construction_years.constructionYear }}">{{ construction_years.constructionYear }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                         to:
                        <select id="year_built_to_dropd" name="year_built_to" class="select-style">
                            {% for construction_years in year_built_list %}
                                <option value="{{ construction_years.constructionYear }}">{{ construction_years.constructionYear }}</option>
                            {% endfor %}
                                <option value="999999999999" selected>∞</option>
                        </select>
                    </label>
                    <br>

                    <label>
                        Type:
                        <select id="type_dropd" name="type" class="select-style">
                            <option value="" selected>All</option>
                            {% for types in type_list %}
                            <option value="{{ types.type }}">{{ types.type }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <br>

                    <label>
                        Order by:
                        <select id="order_by_dropd" name="order" class="select-style">
                            <option value="-id" selected>New</option>
                            <option value="name">Name</option>
                            <option value=-"price">Price Highest</option>
                            <option value="price">Price Lowest</option>
                            <option value="-size">Size Highest</option>
                            <option value="size">Size Lowest</option>
                        </select>
                    </label>
                    <br>
                </div>

            </div>

            <div name="attributes" id="attributes">
                {% for attributes in attribute_list %}
                    <label><input class="checkbox-style" type="checkbox" name="{{ attributes.id }}" value="1">{{ attributes.description }}</label>
                {% endfor %}
            </div>
        </fieldset>

        <input type="search" name="search_box" class="form-control" id="search-box" placeholder="Search by name/description/address..."/>
        <div id="search-button-container">
            <input type = "submit" value="Clear Filters" class="btn btn-primary pull-right" id="clear_button">
            <input type = "submit" value="Search" class="btn btn-primary pull-right" id="filter_props">
        </div>

    </form>
</div>
