{% extends 'base.html' %}

{% block content %}

    {% include 'realEstate/filter.html' with form=form %}

    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Search by name.."/>
        <div class="input-group-btn">
            <input type="submit" class="btn btn-default" id="search-btn" value="Search" />
        </div>
    </div>

    <div class="property-overview">
        {% for property in properties %}
            {% include 'realEstate/single_property.html' with property=property %}
        {% endfor %}
    </div>

{% endblock %}