{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/properties.css">

    {% include 'realEstate/filter.html' with property=property %}
    <div id="msg-area">
        <div id="loading" class="hidden"><p><img src="/static/images/ajax-loader.gif" alt="Loading..."></p></div>
        <div id="result" class="hidden"></div>
    </div>
    <div class="card-deck property-overview">
        <!-- AJAX request will place properties here -->
    </div>

{% endblock %}
