{% extends 'base.html' %}

{% block content %}

    <div class="property-details">
        <img class="property-img" src="{{ property.propertyimage_set.first.image }}"/>

        <h4>{{ property.name }}</h4>
        <p>{{ property.price }} $</p>
        <p>{{ property.description }}</p>
        <p>{{ property.address.country }}</p>
        <br />

        <h4>Contact Information</h4>
        <p>{{ property.sellerName }}</p>
        <p>{{ property.sellerEmail }}</p>
        <p>{{ property.sellerPhone }}</p>
        <br />

        <h4>Attributes</h4>
        <ul>
            {% for proAtt in propertyAttributes %}
                {% for attribute in attributes %}
                    {% if attribute.id == proAtt.attribute_id %}
                        <li>{{ attribute.description }}</li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
        <!-- All images, TODO: image carousel -->
        {% for property_image in property.propertyimage_set.all %}
            <img class="property-img" src="{{ property_image.image }}"/>
        {% endfor %}
    </div>

{% endblock %}