{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/propertyDetails.css">

    <div class="propDetPage">

        <!-- Image Carousel -->
        <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="carousel-img" src="{{ property.propertyimage_set.first.image }}"/>
                </div>
                {% for property_image in property.propertyimage_set.all %}
                    <div class="carousel-item">
                        <img class="carousel-img" src="{{ property_image.image }}"/>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!-- Property Details -->
        <div class="row">
            <!-- Property Description -->
            <div class="col-sm-8" id="left">
                <div class="card">
                    <div class="card-body">
                        <!-- Favorite heart -->
                        {% if user.is_authenticated  %}
                            {% csrf_token %}
                            {% if not is_favorite %}
                                <a href="{% url 'favorite_property' property.id %}"><img class="favorite-heart" src="/static/images/unfilled_heart.png" alt="Favorite heart"></a>
                            {% else %}
                                <a href="{% url 'unfavorite_property' property.id %}"><img class="favorite-heart" src="/static/images/filled_heart.png" alt="Unfavorite heart"></a>
                            {% endif %}

                            {% if num_favorites > 0 %}
                                <h6 id="num-favorites">{{ num_favorites }} </h6>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'login' %}"><img class="favorite-heart" src="/static/images/unfilled_heart.png" alt="Favorite heart"></a>
                            {% if num_favorites > 0 %}
                                <h6 id="num-favorites">{{ num_favorites }} </h6>
                            {% endif %}
                        {% endif %}
                        <h5 class="card-title">{{ property.name }}</h5>
                        <p class="card-text">{{ property.address }}</p>
                        <p class="card-text">{{ property.description }}</p>
                    </div>
                </div>
             </div>

            <div class="col-sm-4" id="right">
                <!-- General Information -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">General Information</h5>
                        <p class="card-text">
                            Price: {{ property.price }} $ <br>
                            Size: {{ property.squareMeters }} m<sup>2</sup> <br>
                            Type: {{ property.type }} <br>
                            Built in {{ property.constructionYear }} <br>
                            {{ property.nrBedrooms }} bedrooms <br>
                            {{ property.nrBathrooms }} bathrooms
                        </p>
                    </div>
                    <!-- Button is left outside the div on purpose -->
                    {% if property.sold %}
                        <button href="#" class="btn btn-primary" class="our-button" disabled>Sold</button>
                    {% else %}
                        <a href="{% url 'purchase' property.id %}" class="btn btn-primary" class="our-button">Buy Property</a>
                    {% endif %}
                </div>

                <!-- Attributes -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Attributes</h5>
                        <ul>
                            {% for proAtt in property.attributes.all %}
                                <li>{{ proAtt.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- Seller Information -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Seller Information</h5>
                        <p class="card-text">
                            Name:  {{ property.seller.first_name }} {{ property.seller.last_name }} <br/>
                            Email: {{ property.seller.email }} <br/>
                            Phone: {{ property.seller.profile.phone }}
                        </p>
                    </div>
                    <a href="{% url 'seller-profile' property.seller.id %}" class="btn btn-primary" class="our-button">View Profile</a>

                </div>

            </div>
        </div>

        <!-- Image Gallery -->
        <div class="photoGallery">
        {% for property_image in property.propertyimage_set.all %}
            <div>
                <img class="property-img" src="{{ property_image.image }}"/>
            </div>
        {% endfor %}
        </div>

    </div>

{% endblock %}