<a href="{% url 'property-details' property.id %}" class="link-to-property">
    <div class="card property">
        <div id="property-img-box">
            <img class="property-img" src="{{ property.propertyimage_set.first.image }}"/>
        </div>
        <div class="card-body">
            <div id="property-name-address">
                <div id="property-name">
                    <h5 class="card-title">{{ property.name }}</h5>
                </div>
                <div id="property-address">
                    <p>{{ property.address.city }}, {{ property.address.country }}</p>
                </div>
            </div>
            <div id="property-price-info">
                <p>Size: {{ property.squareMeters }}m<sup>2</sup>, {{ property.type }}, {{ property.nrBedrooms }} bedrooms, {{ property.nrBathrooms }} bathrooms <br>
                Price: {{ property.price }} $</p>
            </div>
        </div>
    </div>
</a>
