{% extends 'base.html' %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/static/css/profiles.css">

    <!-- Rows and cols used to display profile to the left and properties to the right -->
    <div class="row">
        <div class="col-sm-8">

            <!-- Card container for profile -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper" id="profile-img-square-wrapper">
                                    <img class="profile-image" src="/media/{{ user.profile.profileImage }}" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{ user.first_name }} {{ user.last_name }}'s profile</h4>
                                    <p class="card-text">
                                        Username: {{ user.username }} <br>
                                        Email: {{ user.email }}<br>
                                        Tel: {{ user.profile.phone }}</p>
                                    <!-- Button to edit profile -->
                                    <a href="{% url 'edit-profile' %}" class="block btn btn-primary" id="edit-profile-button">Edit profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button to add property-->
            <div id="add-property-button">
                {% csrf_token %}
                <a href="{% url 'add_property' %}" class="block btn btn-primary">Add Property</a>
            </div>

            <!-- Active properties -->
            <div id="active-listings-header">
                <h4>Active Listings</h4>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                    {% for property in properties %}
                        {% if not property.sold %}
                            {% include 'user/single_active_listing.html' with property=property %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Sold properties -->
            <div id="sold-listings-header">
                <h4>Sold Properties</h4>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                    {% for property in properties %}
                        {% if property.sold %}
                            {% include 'user/single_sold_listing.html' with property=property %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <!-- Card for recently viewed properties -->
        <div class="col-sm-4">
            <h4 id="recently-viewed-header">Recently viewed</h4>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        {% for recently_viewed_property in recently_viewed_properties %}
                            {% include 'user/single_recently_viewed.html' with recently_viewed_property=recently_viewed_property %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}