{% extends 'base.html' %}

{% block content %}

    <h2>Sign up</h2>
    <form class="form form-horizontal", method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ registration_form }}

        <fieldset>
            <legend>
                User information
            </legend>
            <div>
                {{ user_form.as_p }}
            </div>
            <div>
                {{ profile_form.as_p }}
            </div>

        </fieldset>
        <input type="submit", class="btn btn-primary" id="sign-up-button" value="Sign up" />
    </form>

{% endblock %}