<a href="{% url 'property-details' property.id %}" class="link-to-property">
    <div class="card">
        <div class="card-horizontal">
            <div class="img-square-wrapper" id="active-listing-square-wrapper">
                <img class="property-image" src="{{ property.propertyimage_set.first.image }}" >
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ property.name }}</h4>
                <p class="card-text">
                    Price: {{ property.price }} $, size {{ property.squareMeters }}m<sup>2</sup>, {{ property.nrBedrooms }} bedrooms, {{ property.nrBathrooms }} bathrooms
                </p>
                <!-- Button to edit property -->
                <a href="{% url 'edit_property' property.id %}" class="block btn btn-primary" id="edit-property-button">Edit property</a>
                <!-- Button to delete property -->
                <a href="" class="block btn btn-primary" id="edit-property-button">Delete property</a>
            </div>
        </div>
    </div>
</a>
