<a href="{% url 'property-details' favorite.id %}" class="link-to-property">
    <div class="card">
        <div class="card-horizontal small-card-property">
            <div class="img-square-wrapper" id="favorite-square-wrapper">
                <img class="property-image" src="{{favorite.propertyimage_set.first.image}}">
            </div>
            <div class="card-body" id="favorite-property">
                <h4 class="card-title">{{ favorite.name }}</h4>
                <p class="card-text">Size: {{ favorite.squareMeters }}m<sup>2</sup>, {{ favorite.type }}<br>
                Price: {{ favorite.price }} $</p>
            </div>
        </div>
    </div>
</a>